# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# Environment Variables
.env
.env.*

# Python distribution
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# SQLite database
*.db
*.sqlite3

# Cache
.cache/
.pytest_cache/
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# IDE / Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Uvicorn / runtime
*.pid

# Node (if frontend exists)
node_modules/

# Docker
docker-compose.override.yml

uv.lock
main.zip