anthropic
autogen-agentchat
autogen-ext[grpc,mcp,ollama,openai]
bs4
google-generativeai
gradio
httpx
ipywidgets
langchain-anthropic
langchain-community
langchain-experimental
langchain-openai
langgraph
langgraph-checkpoint-sqlite
langsmith
lxml
mcp-server-fetch
mcp[cli]
openai
openai-agents
playwright
plotly
polygon-api-client
psutil
psycopg2-binary
pypdf
pypdf2
python-docx
python-dotenv
requests
semantic-kernel
sendgrid
setuptools
smithery
speedtest-cli
wikipedia
